.more-dropdown-wrapper {
  color: #666666;
  cursor: pointer;

  .bottom-border {
    border-bottom: 1px solid #cec8c8;
  }

  .dropdown {
    position: relative;
    min-width: 10px;
  }

  .dropdown-menu {
    position: absolute;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin-top: 1px;
    padding: 0;
    width: 200px;
    right: 0;
    z-index: 1;
  }
  .dropdown-item {
    padding: 10px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .dropdown-item:hover {
    background-color: #eaeaea;
    color: #333333;
  }
}
