.header-wrapper {
    margin: 10px 0px;
    .team-dropdown {
        display: flex;
        align-items: center;
        border: 1px solid #cec8c8;
        padding: 0px 10px;
        border-radius: 6px;
    }
}