.overview-filter-wrapper {
  min-width: 250px;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #cec8c8;
  .button-section {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    gap: 10px;
  }
}
