<div class="overview-wrapper">
  <div>
    <app-overview-filter></app-overview-filter>
  </div>

  <div class="">
    <div class="secondary-header">
      <div>5 results found</div>
      <div>
        <div class="form-check">
          <input
            class="form-check-input custom-checkbox"
            type="checkbox"
            id="customCheck"
          />
          <label class="form-check-label" for="customCheck"
            >Custom Checkbox</label
          >
        </div>
      </div>
    </div>
    <div class="main-content">

      <ng-content *ngFor="let item of employeeData">
        <div class="card-wrapper">
          <div class="card-body">
            <div class="card-header">
              <div class="profile-section">
                <div class="profile-image-wrapper">
                  <img src="assets/profile/profile1.jpeg" alt="profile.jpg" />
                </div>
                <div class="profile-name-wrapper">
                  <p class="name">{{ item.name }}</p>
                  <p class="designation">{{ item.company.bs }}</p>
                </div>
                <div class="profile-icon">
                  <fa-icon [icon]="['fas', 'paper-plane']" class="paper"></fa-icon>
                </div>
              </div>
              <div class="profile-rate">
                <div class="rating-text">3.5 Rating</div>
                <div class="rating-star">
                  <fa-icon [icon]="['fas', 'star']" class="star filled"></fa-icon>
                  <fa-icon [icon]="['fas', 'star']" class="star filled"></fa-icon>
                  <fa-icon [icon]="['fas', 'star']" class="star filled"></fa-icon>
                  <fa-icon
                    [icon]="['fas', 'star-half-alt']"
                    class="star star-half-alt"
                  ></fa-icon>
                  <fa-icon [icon]="['far', 'star']" class="star"></fa-icon>
                </div>
              </div>
            </div>
    
            <div class="card-content">
              <div class="card-content-row date-container">
                <div>
                  <span class="title">Experience: </span
                  ><span class="title-value">5.8 Years</span>
                </div>
                <div>
                  <span class="title">Date of Joining: </span
                  ><span class="title-value">2017</span>
                </div>
              </div>
              <div class="card-content-row">
                <span class="title">Current Team: </span
                ><span class="title-value">{{ item.company.name }}</span>
              </div>
              <div class="card-content-row">
                <span class="title">Reporting Manager: </span
                ><span class="title-value">Lalit Agarwal</span>
              </div>
              <div class="card-content-row">
                <div class="contact-wrapper">
                  <div class="contact-set">
                    <div class="profile-icon">
                      <fa-icon [icon]="['fas', 'phone']" class="phone"></fa-icon>
                    </div>
                    <span class="contact-text">{{ item.phone }}</span>
                  </div>
                  <div class="contact-set">
                    <div class="profile-icon">
                      <fa-icon [icon]="['fas', 'envelope']" class="mail"></fa-icon>
                    </div>
                    <span class="contact-text">{{ item.website }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-content>
  
    </div>
  </div>
  
</div>
