/* You can add global styles to this file, and also import other style files */

@import 'ngx-toastr/toastr';

body {
    margin: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    p {
        letter-spacing: 0.03rem;
    }

    .btn-custom-secondary {
      background-color: transparent;
      color: #39ac73;
      padding: 10px 30px;
      border: 2px solid #39ac73;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .btn-custom-primary {
      background-color: #39ac73;
      color: #fff;
      padding: 10px 30px;
      border: 2px solid #39ac73;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
}